
#pagination-box-style
{
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.pagination-element-box-style
{
    width: 80%;
    text-align: left;
    margin-top: 10px;
    margin-left: 10%;
    border: 1px solid grey;
    background-color: darkgrey;
    border-left: 5px solid grey;
}

.pagination-content-wrapper
{
    width: 97%;
    margin: 0 auto;
    margin-top: 10px;
}

.pagination-actions
{
    width: 80%;
    margin: 0 auto;
    text-align: right;
}